.container {
    display: flex;
    gap: 20px;
}

.menu{
    flex: 1;
    background-color: var(--bgSoft);
    padding: 20px;
}

.content {
    flex: 4;
    padding: 20px;
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.main {
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.side {
    flex: 1;
}

.cards {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}