.container {
    padding: 20px;
    background-color: var(--bgSoft);
    border-radius: 10px;
    margin-top: 20px;
}

.search {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table {
    width: 100%;
}

.table th {
    text-align: left;
    padding: 10px;
}

.table td {
    padding: 10px;
}

.userName {
    display: flex;
    align-items: center;
    gap: 10px;
}

.userName img {
    border-radius: 50%;
    object-fit: cover;
}

.addButton {
    padding: 10px;
    background-color: #5d57c9;
    color: var(--text);
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.buttons {
    display: flex;
    gap: 10px;
}

.button {
    padding: 5px 10px;
    border-radius: 5px;
    color: var(--text);
    border: none;
    cursor: pointer;
}

.viewBtn {
    background-color: teal;
}

.deleteBtn {
    background-color: crimson;
}